body {
    position: absolute;
	max-width: 1152px;
	margin:0 auto;
	padding-left: 10%;
	padding-right: 10%;
    position: relative;
	font-family: Hind, sans-serif;
}

header {
    position: relative;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	display: grid;   
	font-size: 14px;
	padding: 10px 0 0;
}

nav ul {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
}

.logo img{
	margin: -25px 0 0;
}

li {
	list-style: none;
	
}

li a{
	text-decoration: none;
	color: black;
}

#taskone {
    position: absolute;
    
}

#taskone h2 {
    position: relative;
    text-shadow: rgba(36, 113, 163, 0.5) 2px 5px;
	font-size: 25px;
}

#taskone h5 {
    position: relative;
    margin-top: 10px;
}

#taskone button {
    position: relative;
    margin-top: 20px;
}

#taskone p {
    position: relative;
    margin-top: 10px;
}

