body {
	display: grid;
	grid-template-areas: 
	'header header header'
	'section-container section-container section-container'
	'block-left content block-right'
	'block-left footer block-right';
	grid-template-rows: 70px auto 615px 100px;
	grid-template-columns: 100px auto 100px;
	grid-column-gap: 5px;
	grid-row-gap: 20px;
	width: 100%;
}

header {
	grid-area: header;
	font-family: Hind, sans-serif;
	padding: 20px  ;
	font-size: 14px;
}

.block-left {
	grid-area: block-left;
}

.section-container {
	grid-area: section-container;
}

.block-right {
	grid-area: block-right;
}

content {
	grid-area: content;;
}

.footer {
	grid-area: footer;
	position: fixed;
}

.logo {
	float: left;
	position: absolute;
	top: -13px;
	left: 150px;
}

.logotype {
	width: 190px; 
	height: 100px;
}

nav {
	float: right;
	position: absolute;
	top: 15px;
	left: 800px;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
	padding: 10px;
}

nav a {
	text-decoration: none;
}

.section-container img {
	width: 600px;
	height: 300px;
	grid-area: left;
	margin: 0 380px;
	border-radius: 50%;
}

.right {
	grid-area: right;
	margin: 0 370px; 
	width: 100px;
	height: 50px;
	line-height: 1px;
	
}

.block-right p {
font-weight: bold;
border: 1px;
border-style: solid;
}


nav li {
	display: inline-block;
	border: 1px solid;
	border-color: white;
	padding: 10px;
}

nav a {
	text-decoration: none;
	color: black;
}

a {
	color: black;
	text-decoration: none;
}

a:visited {
    color: black; 
} 
a:hover {
    color: gray; 
}

header p {
	float: left;
	position: fixed;
	top: 20px;
	left: 150px;
	text-shadow: 3px 2px plum;
}

li {
	list-style: none;
}

#content p {
	font-size: 20px;
}

#content a {
	font-size: 18px;
}

.footer-container {
	display: grid;
	grid-template-areas: 
	'left-footer center-footer right-footer';
	grid-template-rows: 100px;
	grid-template-columns: auto auto auto;
}

.left-footer {
	grid-area: left-footer;
}

.center-footer {
	grid-area: center-footer;
}

.right-footer {
	grid-area: right-footer;
}

.footer-container li {
	list-style-type: none;
	font-family: Hind, sans-serif;
	text-align: left;
	font-size: 20px;
	padding: 10px;
}

hr {
	width: 600px;
}

@media screen and (max-width: 1192px) {
	nav li {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		margin-left: 400px;
	}
}

@media screen and (max-width: 1244px) {
	body {
		
		width: 100%;
}

@media screen and (max-width: 1194px) {
	body {
		
		width: 100%;
}

@media screen and (max-width: 849px) {
	.footer-container {
		margin-top: 500px;
	}
}